service keystore2 /system/bin/keystore2 \
    --enforce \
    --init-stop-system=true

    class main
    user system
    group system readproc keystore
    seclabel u:r:keystore2:s0
    disabled
    oneshot
